<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- <context:component-scan base-package="com.rrt.adp.web"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan> -->
	
	<mvc:resources location="classpath:/META-INF/resources/" mapping="swagger-ui.html"/>
  	<mvc:resources location="/html/" mapping="*.html"/>
 	<mvc:resources location="/css/" mapping="/css/*"/>  
 	<mvc:resources location="/js/" mapping="/js/*"/>
 	<mvc:resources location="/images/" mapping="/images/*"/>
 	
	<context:component-scan base-package="com.rrt.adp.web"/>

	<mvc:default-servlet-handler />

	<mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>
	
	<!-- 设置上传文件的最大尺寸为100MB -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>102400000</value>
		</property>
	</bean>	
	
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConverter"/>
            </set>
        </property>
    </bean>
    <!-- 第一步:  创建自定义日期转换规则 -->   
    <bean id="dateConverter" class="com.rrt.adp.web.DateConverter"/>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<mvc:interceptors>
	  	<bean id="loginRestIntercepter" class="com.cetiti.eboy.web.LoginRestIntercepter">
	  		<property name="bypassApiSet">
			<bean class="com.cetiti.eboy.util.StringUtils" factory-method="toSet">
				<constructor-arg>
					<value>/account/login,account/regist,account/logout</value>
				</constructor-arg>
			</bean>
			</property>
	  	</bean>
	    <bean id="executeTimeIntercepter" class="com.cetiti.eboy.web.ExecuteTimeIntercepter"/>
  	</mvc:interceptors>

</beans>
